table {
  width: 25%;
  border-collapse: collapse;
}

td {
  width: 33.333%;
  border: 6px solid #222;
}

td::after {
  content: '';
  display: block;
  margin-top: 100%;
}

td {
  border: 6px solid #242629;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

button {
  vertical-align: middle;
  background-color: #16161a;
  color: #fffffe;
  border: none;
  font-size: 70px;
}

.app {
  font-family: 'Roboto', sans-serif;
  background-color: #16161a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fffffe;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
